@{
    ViewBag.Title = "Diaries - Unauthorised";
}

<h2></h2>    
<h2></h2>
<br />
<br />
<br />
<h4>You are not authorised to view this application. Please contact the administrator.</h4>


